@import 'tailwindcss';

@theme {
    --background-image-gradient-radial: radial-gradient(
        var(--tw-gradient-stops)
    );
    --background-image-gradient-conic: conic-gradient(
        from 180deg at 50% 50%,
        var(--tw-gradient-stops)
    );
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

html {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
    height: 100dvh;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}
/* 
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
} */

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    min-width: 320px;
    max-width: 600px;
    width: 100%;
    background-color: rgb(33, 33, 33) !important;
    height: 100vh;
}

.introBox {
    height: 100%;
}

.chatPage {
    width: 100%;
    padding: 0px 10px 0px 10px;
    color: rgb(60, 60, 60) !important;
}

.userInput {
    width: 90%;
    line-height: 30px;
    border: none;
    margin-top: 20px;
    padding: 10px;
    align-self: center;
    justify-self: flex-start;
    border-radius: 15px;
    position: sticky;
    bottom: 10px;
    height: 60px;
    line-height: 60px;
    z-index: 100;
    background-color: rgb(238, 238, 238);
}

.userInput:focus {
    background-color: #f1eeee;
    outline: none;
}

.botIcon {
    background-color: #e9e9e9;
    border-radius: 50%;
    padding: 10px;
    width: 100px;
    height: 100px;
    margin: 50px 0px 50px 0px;
}

.botIcon__chat {
    width: 50px;
    height: 50px;
    padding: 6px;
}

.inputBox {
    height: auto;
    resize: both;
}

.userBox__userOutput {
    width: 80%;
    line-height: 30px;
    border-radius: 10px;
    margin: -40px 20px 10px 0px;
    border: none;
    padding: 10px;
    z-index: -1;
    text-align: left;
    color: white;
}

.botBox {
    width: 80%;
    line-height: 30px;
    border-radius: 10px;
    margin: -40px 0px 10px 20px;
    border: none;
    padding: 10px;
    z-index: -1;
    text-align: left;
    color: black;
}

.loadSpinner {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 1, 1, 0.3);
    backdrop-filter: blur(2px);
    z-index: 9999;
}

.loadSpinner__spinner {
    width: 80px;
    height: 80px;
    margin: 5px;
}
